@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Prompt:wght@300;400;700&family=Rajdhani&family=Roboto+Mono:wght@100;200;400&family=Roboto:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,300;0,400;0,500;0,800;0,900;1,100;1,800&family=Prompt:wght@300;400;700&family=Roboto+Mono:wght@100;200;400&family=Roboto:wght@100;400;900&family=Spectral+SC:wght@200;300;400;700;800&family=Spectral:ital,wght@0,200;0,300;0,400;1,700&display=swap');

$apple-core: #DCC7AA;
$apricot: #efa66a;
$plum: #2d2034;

body{
    background:url(/src/img/img5.jpg);
    background-size:cover;
    margin: 0;
    font-family: 'Spectral', sans-serif;

}


.nav{
    color: white;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-family: 'Spectral SC', sans-serif;

 
}

.content{
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-weight: bold;

    button{
        padding: 10px 40px;
        background-color: white;
        border:  none;
        border-radius: 20px;
        margin-top: 30px;
        color: $plum;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

    }
}


.title{
    font-size: 4em;
    letter-spacing: 0.2rem;
    text-align: center;
    font-family: 'Spectral SC', sans-serif;
    margin-top: 130px;
}
.subtitle{
    text-shadow:  1px 1px 3px rgb(0, 0, 0);
}

.material-symbols-outlined{
    text-shadow:  1px 1px 3px rgb(255, 255, 255);
}

.about:hover,
.reservations:hover,
.menu:hover,
.resto:hover{
    font-size: larger;

}
.about:hover,
.reservations:hover,
.menu:hover,
.resto:hover{
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.material-symbols-outlined:hover{
    text-shadow:  1px 1px 3px rgb(0, 0, 0), 1px 1px 10px rgb(255, 255, 255);
}

button:hover{
    background-color: rgba($plum, 0.9);
    padding: 13px 43px;
    color:white;
}

button:active{
    background-color: $plum;
}